.chat-container{
    /* border:solid red; */
    height: 100vh;
    width: 99%;
    max-width: 100%;
    margin-top: 1%;
    margin-bottom: 3%;
}
@media screen and (max-width:600px){
    .chat-container{
        /* border:solid red; */
        height:100vh;
    }
}
.chat-header{
    display:flex;
    background-color: rgb(59, 204, 214);
    padding:1%;
}

.chat-header img{
    border-radius: 50%;
    max-width: 4%;
    max-height:auto;
    margin-right: 2%;
}
@media screen and (max-width:500px) {
    .chat-header{
        margin-top: 5%;
        padding:1%;
    }
    .chat-header img {
        max-width: 14%;
    }
}

.chatbox{
    /* height:100%; */
    padding:24%;
    /* height: 100%;
    width:100%; */
    /* box-sizing: border-box; */
    background-color: rgb(95, 243, 127);
    /* border:solid red; */
}
@media screen and (max-width:500px) {
    .chatbox{
        /* height:100%; */
        padding:48%;
        /* height: 100%;
    
        /* border:solid red; */
    }
}

.type{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 1%;
    /* border:solid red; */

}
.chat-icon{
    margin: 0 1% 0 0;
}
.type-message{
    width: 100%;
    /* margin-left: %; */
    margin-right: 2%;
   
    padding: 1%;
    /* border:solid black; */
}
